* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Color Palette: Primary, #ff4c4c / Secondary, #a94e97 / text, #000000 / grey, #83869a / links, #ff4c4c */

body {
    font-family: Roboto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 600px 100px;
    /* row-gap: 10px; */
}

header {
display: flex;
justify-content: space-between;
align-items: center;
}

.form-title {
    width: 75%;
    text-align: center;
    margin-left: 100px;
}


nav{

}

nav a {
    color: #ff4c4c;
    text-decoration: none;
    font-size: 23px;
    margin-right: 60px;
}

span {
    border: 1px solid #ffb6c1;
    border-radius: 28px;
    background: linear-gradient(180deg, #FF4C4C 0%, #ffb6c1 100%);
    padding: 10px 20px;
    font-size: 20px;
    color: white;
  }

.submission-form {
margin-left: 150px;
}

form{
width: 600px;
border: 2px solid #ffb6c1;
border-radius: 5px;
padding: 10px;
font-size: 20px;
color: #fff;
background: linear-gradient(180deg, #FF4C4C 0%, #ffb6c1 100%);
}

#dob {
    font-size: 16px;
}

input, textarea {
    width: 100%;
    padding: 5px 10px;
    font-family: Roboto;
    font-size: 17px;
    margin: 8px 0;
}

.form-btn {
display: flex;
justify-content: space-around;
}

form button {
    font-family: Roboto;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #ffb6c1;
    border-radius: 28px;
    background-color: #ff4c4c;
    color: #fff;
    cursor: pointer;
}

footer{
    background-color: #ff4c4c;
    color: #fff;
}

footer p {
    font-weight: bold;
    margin-top: 40px;
    margin-left: 15px; 
  }